# IDE related
.vscode/
.idea/
.DS_Store

# compilation stuff
*dSYM/
*.o
*.so
*.d
bin/generate_input

# datasets
performance/test*

# python stuff
_backup/*
_previous/*
__pycache__/
__py_implementation.py
.ipynb_checkpoints/
